body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    color: aliceblue;
    text-align: center;
    padding: 10px;
}

.love {
  background-image: url("https://cdn.pixabay.com/photo/2025/01/24/18/12/ai-generated-9357263_1280.png");
  background-size: cover;
  width: 600px;
  height: 750px;
  border-radius: 20px;
  box-shadow: 15px 15px 15px black;
}
.box{
    text-align: center;
    padding: 45px;
}
button{
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(220, 70, 70);
    color: aliceblue;
}
#yourname{
    border-radius: 8px;
    padding: 5px;
    background-color: rgba(220, 201, 201, 0.825);
}
#dovename{
    border-radius: 8px;
    padding: 5px;
    background-color: rgba(220, 201, 201, 0.825);
}
#result{
    color: rgb(225, 225, 30);
    text-align: center;
}