body{
    height: 100%;
    border: 10px rgb(140, 10, 10);
}
#card{
    height: 75%;
    justify-content: center;
    background-color: rgb(158, 167, 215);
    width: 700px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgb(115, 4, 243);
    margin: 0 auto;
    border-color: 10px rgb(12, 12, 12);
    border-radius: 10px;
    
}
img{
    border-radius: 120%;
    justify-content: center;
    align-items: center;
    display: flex;
    object-fit: cover;
    margin: 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 1000px;
    object-fit: cover;

}
h1{
    background-color: rgba(255, 228, 196, 0.472);
    text-align: center;
    color: rgb(48, 4, 61);
    border-radius: 10px;
}
h3{
    padding: 5px;
}
p{
    background-color: rgba(252, 154, 8, 0.377);
    padding: 10px;
    border-radius: 5px;
}
.para{
    background-color: rgba(195, 7, 241, 0.294);
    padding: 10px;
    border-radius: 10px;
    background-size: cover;
}