skychange animation {

background-origin: padding-box;

background-position-x: 0%;

background-position-y: 0%;

background-repeat: repeat;

background-size: auto;

background-attachment: scroll;

background-clip: border-box;

background-color: rgba(0, 0, 0, 0);

background-image: Linear-gradient(to top, rgb(255)85);

}
.scene {

width: 100%;

height: 100%;

position: relative;

background:linear-gradient(to top, skyblue, white);

overflow: hidden;

animation: skychange 8s infinite ease-in-out;
}
@keyframes skychange

0%{
    background: linear-gradient(to top, #ff4400, rgb(93, 85, 85));

}

40% {
background: linear-gradient(to top, white, skyblue);
}


70% {

background: linear-gradient(to top, orange, pink);
}

100%{
    background: linear-gradient(to top, #300003,white);
}